<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <div ngbDropdown>
          <a class="nav-link" style="cursor: pointer;" ngbDropdownToggle> Genres </a>
          <div ngbDropdownMenu>
            <app-genres> </app-genres>
          </div>
        </div>
      </li>
      <li class="nav-item" >
        <a class="nav-link " [routerLink]="['user/PurchasedMovies']">
        Purchases</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " [routerLink]="['user/FavoritedMovies']">
        Favorites</a>
      </li>
      <li class="nav-item" *ngIf="!(isLoggedIn$ | async)">
        <a class="nav-link " [routerLink]="['sign-up']">
        Register</a>
      </li>
      <li class="nav-item" *ngIf="!(isLoggedIn$ | async)">
        <a class="nav-link " [routerLink]="['login']">
        Login</a>
      </li>
      <li class="nav-item" *ngIf="(isLoggedIn$ | async)">
        <div ngbDropdown>
          <a class="nav-link" style="cursor: pointer;" ngbDropdownToggle> {{currentUser.firstName}} </a>
          <div ngbDropdownMenu>
           <a class="nav-link " [routerLink]="['user/Profile']">Profile</a>
           <a (click)="logout()" class="nav-link">Logout</a>
          </div>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input
        class="form-control mr-sm-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
        Search
      </button>
    </form>
  </div>
</nav>