<!--
  send un/pw with login model, to authService (Angular)
  this will send to our API, out AccountController
  POST service
-->
<!--Template approach-->

<form (ngSubmit)="login()"> 
  <div *ngIf="invalidLogin" class="alert alert-danger">
    Invalid username and/or password
  </div>
  <div class="form-group">
    <label for="email">Email address</label>
    <input
      type="email"
      class="form-control"
      id="email"
      aria-describedby="emailHelp"
      placeholder="Enter email"
    />
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input
      type="password"
      class="form-control"
      id="password"
      placeholder="Password"
    />
  </div>
  <button type="submit" class="btn btn-primary">Login</button>
</form>











