@{
    ViewData["Title"] = "Create";
}
<h1>Create Movie</h1>
//get the empty page

<form method="post">
    @*//html interview question:difference between name and id*@
    Title: <input type="text" value="" name="title" id=""/><br />
    Budget: <input type="text" value="" name="budget" id=""/><br />
    @*//info with name and value*@
    <input type="submit" value="Save Movie"/><br />
</form>